/***************************************************
    APP VARIABLES
 ***************************************************/

//COLORS
$white: #fff;
$black: #000;
$font-col: #f4f4f4;
$back-col: dodgerblue;
$primary: gold;

// TYPOGRAPHY
$main-font: sans-serif;
$base-font: 16px;
$font-normal: 400;
$font-bold: 700;
